<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="schstat.helpinghands.com.schoolstatsinindia" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".state_list"
            android:label="@string/title_activity_state_list" >
        </activity>
        <activity
            android:name=".stateview"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".facilities"
            android:label="@string/title_activity_facilities"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".building"
            android:label="@string/title_activity_building"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".management"
            android:label="@string/title_activity_management"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".categoryschool"
            android:label="@string/title_activity_categoryschool"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".enrollment"
            android:label="@string/title_activity_enrollment"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".habitations"
            android:label="@string/title_activity_habitations"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".leaderboard"
            android:label="@string/title_activity_leaderboard" >
        </activity>
    </application>

</manifest>
